<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>


    <context-param>
        <param-name>distributedDataRefreshRate</param-name>
        <param-value>55</param-value>
    </context-param>

    <context-param>
        <param-name>distributedDataTimeToLive</param-name>
        <param-value>120</param-value>
    </context-param>

    <listener>
        <listener-class>
            com.jamonapi.http.JamonServletContextListener
        </listener-class>
    </listener>

   <servlet>
    <servlet-name>jamonadmin</servlet-name>
    <jsp-file>/jamonadmin.jsp</jsp-file>
   </servlet>
   <servlet>
    <servlet-name>menu</servlet-name>
    <jsp-file>/menu.jsp</jsp-file>
   </servlet>
   <servlet>
    <servlet-name>exceptions</servlet-name>
    <jsp-file>/exceptions.jsp</jsp-file>
   </servlet>
   <servlet>
    <servlet-name>sql</servlet-name>
    <jsp-file>/sql.jsp</jsp-file>
   </servlet>
   <servlet>
    <servlet-name>query</servlet-name>
    <jsp-file>/query.jsp</jsp-file>
   </servlet>
   <servlet>
     <servlet-name>Mon</servlet-name>
     <servlet-class>com.jamonapi.Mon</servlet-class>
   </servlet>


  <servlet-mapping>
    <servlet-name>Mon</servlet-name>
    <url-pattern>/Mon</url-pattern>
  </servlet-mapping>



    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            menu.jsp
        </welcome-file>
    </welcome-file-list>



</web-app>
